# GLM Model Project: 20201222_Regularised_Linear_Models_WeatherWW2
# install packages
# !{sys.executable} -m pip install sweetviz
# !{sys.executable} -m pip install joypy

# Data Folders
import os
import sys

# Data Wrangling
pandas==1.1.4
numpy==1.19.4
DateTime==4.3
#import math
#import statistics
#import calendar
#from itertools import combinations


# Data Exploration and visualisation
matplotlib==3.3.2
seaborn==0.11.0
sweetviz==2.0.4
joypy==0.2.4
#import plotly.graph_objs as go

# Model Development
sklearn==0.23.2
scipy== 1.5.3

# Data Export
#import pickle

# Markdown Formatting
markdown-checklist==0.4.3

# Additional Logic & Support 
# Packages available in the environment
#pip list OR conda list
# Check package versions
#import pkg_resources
#pkg_resources.get_distribution("DateTime").version
# Package Search
#python -m pip search "package name"
# Outdated packages
#python -m pip list --outdated


