# GLM Model Project: 20201222_Generalised_Linear_Models_WeatherWW2
# Data Wrangling
pandas==1.1.4
numpy==1.19.4
DateTime==4.3

# Data Exploration and visualisation
matplotlib==3.3.2
seaborn==0.11.0
sweetviz==2.0.4
joypy==0.2.4

# Markdown Formatting
markdown-checklist==0.4.3

# Additional Logic & Support 
# Packages available in the environment
#pip list OR conda list
# Check package versions
#import pkg_resources
#pkg_resources.get_distribution("DateTime").version
# Package Search
#python -m pip search "package name"
# Outdated packages
#python -m pip list --outdated